#controls {
  /* Appearance */
  background-color: white;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.55;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.75;
  transition-delay: 0;
}

.mainContainer {
position:fixed;
top:51px;
bottom:0px;
left: 0;
right: 0;
}

.recherche {
  display:flex;
  margin-top : 15px;
  margin-left : 15px;
}

.recherche>* {
  margin-right : 15px;
}

.boxplots_container {
  display:flex;
}

#stats {
  display : flex;
  justify-content: space-around;
}
#stats >* {
  display : flex;
  justify-content: space-between;
}

#kills_value,#deaths_value,#kd_value,#ratio_value,
#hs_value,#assists_value,#fassists_value,#adr_value,#rating_value,#kast_value{
  margin : 0 5px;
}

#kills_rank,#deaths_rank,#kd_rank,#ratio_rank,
#hs_rank,#assists_rank,#fassists_rank,#adr_rank,#rating_rank,#kast_rank{
  font-size:10px;
  margin-top : 5px;
}